<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/static/css/home.css">
	<title>Using </title>
	<div id="logo">
		<img src="{{ url_for('static', filename='img/rossell_auto.jpg') }}"
			width="300"
			height="225" />
	</div>
</head>
<body>
	<div class="topnav">
		<a href="/">Home</a>
		<a class="active" href="/employee">Employee</a>
		<a href="/tools">Tools</a>
		<a href="/view">View</a>
		<a href="/export">Export</a>
	</div>
	
	<div class="middlenav">
		
		<a href="/clock_in">Clock In</a>
		<a href="/clock_out">Clock Out</a>
		<a href="/lookup">Lookup</a>
	</div>

	<h1>
		Clock In
	</h1>

	<form action="/mod_clock_in" method="POST">
	
		First Name: <input type="text" name="first_name">  
	<br />
		Last Name: <input type="text" name="last_name" />
	<br />
		UID: <input type="text" name="UID" />
	<br />
		Date to Modify: <input type="text" name="date_mod" />
	<br />
		Time to Modify: <input type="text" name="time_mod" />
	
	<input type="submit" name= "form" value="Submit" />
	
	</form>
	
	<h1>
		Clock Out
	</h1>
	
	<form action="/mod_clock_out" method="post">
	
		First Name: <input type="text" name="first_name">  
	<br />
		Last Name: <input type="text" name="last_name" />
	<br />
		UID: <input type="text" name="UID" />
	<br />
		Date to Modify: <input type="text" name="date_mod" />
	<br />
		Time to Modify: <input type="text" name="time_mod" />
	
	<input type="submit" name= "form" value="Submit" />
	
	</form>
	
	<h1>
		Look Up
	</h1>
	
	<form action="/look_up" method="post">
	
		First Name: <input type="text" name="first_name">  
	<br />
		Last Name: <input type="text" name="last_name" />
	<br />
		UID: <input type="text" name="UID" />

	<input type="submit" name= "form" value="Submit" />
	
	</form>


</body>

</html>
