<html>
<head>
	<link rel="stylesheet" href="/static/css/home.css">
	<title>Using </title>
	<div id="logo">
		<img src="{{ url_for('static', filename='img/rossell_auto.jpg') }}"
			width="300"
			height="225" />
	</div>
</head>
<body>
	<div class="topnav">
		<a class="active" href="/">Home</a>
		<a href="/employee">Employee</a>
		<a href="/tools">Tools</a>
		<a href="/view">View</a>
		<a href="/export">Export</a>
	</div>

</body><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Employment Count</th>
      <th>Employee Name</th>
      <th>Employment Date</th>
      <th>UID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>MIchael Christopher</td>
      <td>2022-02-07 21:07:21.176377</td>
      <td>07:50:AC:60:20:T5</td>
    </tr>
  </tbody>
</table>